h1{
    background-color: aquamarine;
    color: blue;
    text-align: center;
}
img{
    width: 300px;
    height: 300px;
    border: 2px solid black;
}
.topnav{
    
    background-color: crimson;
}
.topnav a.test{
    color: white;
    font-size: 20px;
    padding: 20px 20px;
}
h2
{text-align: justify;
    color: white;
    background-color:crimson; 
}
table{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}
td,th{
    border:1px solid black;
    text-align: left;
    padding: 8px;
}
